@page
@model UtiliSite.Pages.CommandsModel
@{
    ViewData["Title"] = "Commands - Utili";
    string idHelp = "class=\"a-blue\" href=\"https://support.discord.com/hc/en-us/articles/206346498\" target=\"_blank\"";
}

<div class="text-center text-white">
    <h1 class="display-4">Commands</h1>
</div>

<div class="text-white">
    <p style="margin-bottom: 0;">All commands start with a prefix.</p>
    <p style="margin-bottom: 35px;">Any configuration commands are listed on the dashboard.</p>
</div>

<div class="accordion text-white">
    <h2 class="accordion-header" data-toggle="collapse" href="#information" role="button" aria-expanded="true" aria-controls="information">
        Information
    </h2>
    <div class="collapse show" id="information">
        <table class="table text-white">
            <tbody>
            <tr>
                <td>help</td>
                <td>Get linked to this website</td>
            </tr>
            <tr>
                <td>about</td>
                <td>Get some information about Utili</td>
            </tr>
            <tr>
                <td>ping</td>
                <td>Get the current status of Utili</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="accordion text-white">
    <h2 class="accordion-header" data-toggle="collapse" href="#utility" role="button" aria-expanded="true" aria-controls="utility">
        Utility
    </h2>
    <div class="collapse show" id="utility">
        <table class="table text-white">
            <tbody>
            <tr>
                <td>prune [amount]</td>
                <td>Delete an amount of messages from the channel, starting from the bottom</td>
            </tr>
            <tr>
                <td>prune [before/after] [<a @Html.Raw(idHelp)>message id</a>]</td>
                <td>Delete messages before or after a specific message</td>
            </tr>
            <tr>
                <td>prune [amount] [before/after] [<a @Html.Raw(idHelp)>message id</a>]</td>
                <td>Delete an amount of messages before or after a specific message</td>
            </tr>
            <tr>
                <td>react [<a @Html.Raw(idHelp)>message id</a>] [emoji]</td>
                <td>Make the bot add a reaction to a message</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="accordion text-white">
    <h2 class="accordion-header" data-toggle="collapse" href="#reputation" role="button" aria-expanded="true" aria-controls="reputation">
        Reputation
    </h2>
    <div class="collapse show" id="reputation">
        <table class="table text-white">
            <tbody>
            <tr>
                <td>rep [user]</td>
                <td>Get a user's reputation</td>
            </tr>
            <tr>
                <td>rep top</td>
                <td>Get the leaderboard</td>
            </tr>
            <tr>
                <td>rep give [user] [amount]</td>
                <td>Give a user some reputation</td>
            </tr>
            <tr>
                <td>rep take [user] [amount]</td>
                <td>Take some reputation from a user</td>
            </tr>
            <tr>
                <td>rep set [user] [amount]</td>
                <td>Set a user's reputation</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<style>
    .table {
        color: #adb5bd;
        border-bottom-style: hidden;
    }

    .accordion-header {
        user-select: none;
        cursor: pointer;
        font-weight: 300;
    }

    .accordion {
        margin-bottom: 25px;
        margin-top: 10px;
    }

    .table th,
    .table td {
        border-top: none;
    }
</style>