@page
@model UtiliSite.Pages.CommandsModel
@{
    ViewData["Title"] = "Commands - Utili";
}

<div class="text-center text-white">
    <h1 class="display-4">Commands</h1>
    <p>On top of its automatic features, Utili also has various commands to help you manage your server.</p>
</div>

<h2 data-toggle="collapse" href="#collapseInformationCommands" role="button" aria-expanded="false" aria-controls="collapseInformationCommands">
    Information Commands
</h2>
<div class="collapse" id="collapseInformationCommands">
    <div class="card card-body">
        <table class="table">
            <thead>
            <tr>
                <th scope="col">Command Syntax</th>
                <th scope="col">Description</th>
            </tr>
            </thead>
            <tbody>
                <tr>
                    <td>about</td>
                    <td>View information about Utili</td>
                </tr>
                <tr>
                    <td>invite</td>
                    <td>Get an invite link for Utili</td>
                </tr>
                <tr>
                    <td>vote</td>
                    <td>Get links to vote for Utili</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<h2 data-toggle="collapse" href="#collapseUtilityCommands" role="button" aria-expanded="false" aria-controls="collapseUtilityCommands">
    Utility Commands
</h2>
<div class="collapse" id="collapseUtilityCommands">
    <div class="card card-body">
        Here are the utility commands!
    </div>
</div>