@page
@model UtiliSite.Pages.CommandsModel
@{
    ViewData["Title"] = "Commands - Utili";
}

<div class="text-center text-white">
    <h1 class="display-4">Commands</h1>
</div>

<div class="accordion text-white">
    <div class="divider">
        <div></div>
        <span>Information</span>
    </div>
    <div class="collapse show" id="information">
        <table class="table text-white">
            <colgroup>
                <col span="1" style="width: 40%;">
                <col span="1" style="width: 60%;">
            </colgroup>
            <tbody>
            <tr>
                <td>help</td>
                <td>Get linked to this website</td>
            </tr>
            <tr>
                <td>about</td>
                <td>Get some information about Utili</td>
            </tr>
            <tr>
                <td>ping</td>
                <td>Get the current status of Utili</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="accordion text-white">
    <div class="divider">
        <div></div>
        <span>Utility</span>
    </div>
    <div class="collapse show" id="utility">
        <table class="table text-white">
            <colgroup>
                <col span="1" style="width: 40%;">
                <col span="1" style="width: 60%;">
            </colgroup>
            <tbody>
                <tr>
                    <td>prune [amount]</td>
                    <td>Delete an amount of messages from the channel, starting from the bottom</td>
                </tr>
                <tr>
                    <td>prune [before/after] [message id]</td>
                    <td>Delete messages before or after a specific message</td>
                </tr>
                <tr>
                    <td>prune [amount] [before/after] [message id]</td>
                    <td>Delete an amount of messages before or after a specific message</td>
                </tr>
                <tr>
                    <td>react [message id] [emoji]</td>
                    <td>Add a reaction to a message</td>
                </tr>
                <tr>
                    <td>react [channel] [message id] [emoji]</td>
                    <td>Add a reaction to a message in another channel</td>
                </tr>
                <tr>
                    <td>random</td>
                    <td>Select a random user from the server</td>
                </tr>
                <tr>
                    <td>random [message id] [emoji]</td>
                    <td>Select a random user which reacted to a message with a specific emoji</td>
                </tr>
                <tr>
                    <td>random [channel] [message id] [emoji]</td>
                    <td>Select a random user which reacted to a message in another channel with a specific emoji</td>
                </tr>
                <tr>
                    <td>whohas [role] (page)</td>
                    <td>Get a paged list of users who have a role</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="accordion text-white">
    <div class="divider">
        <div></div>
        <span>Pinning</span>
    </div>
    <div class="collapse show" id="pinning">
        <table class="table text-white">
            <colgroup>
                <col span="1" style="width: 40%;">
                <col span="1" style="width: 60%;">
            </colgroup>
            <tbody>
            <tr>
                <td>pin [message id] (pin channel)</td>
                <td>Pin a message and clone it to your pin channel</td>
            </tr>
            <tr>
                <td>pin [channel] [message id] (pin channel)</td>
                <td>Pin a message from another channel and clone it to your pin channel</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="accordion text-white">
    <div class="divider">
        <div></div>
        <span>Reputation</span>
    </div>
    <div class="collapse show" id="reputation">
        <table class="table text-white">
            <colgroup>
                <col span="1" style="width: 40%;">
                <col span="1" style="width: 60%;">
            </colgroup>
            <tbody>
                <tr>
                    <td>rep [user]</td>
                    <td>Get a user's reputation</td>
                </tr>
                <tr>
                    <td>rep top</td>
                    <td>Get the leaderboard</td>
                </tr>
                <tr>
                    <td>rep give [user] [amount]</td>
                    <td>Give a user some reputation</td>
                </tr>
                <tr>
                    <td>rep take [user] [amount]</td>
                    <td>Take some reputation from a user</td>
                </tr>
                <tr>
                    <td>rep set [user] [amount]</td>
                    <td>Set a user's reputation</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<style>
    .table {
        color: #adb5bd;
        border-bottom-style: hidden;
    }

    .accordion-header {
        cursor: pointer;
    }

    .accordion {
        margin-bottom: 20px;
        margin-top: 5px;
    }

    .table th,
    .table td {
        border-top: none;
    }

    td:nth-child(2) {
        color: #e9ecef;
    }
</style>
