@page
@model UtiliSite.Pages.ContactModel
@{
    ViewData["Title"] = "Contact - Utili";
}

<div class="text-center text-white">
    <h1 class="display-4">Contact</h1>
</div>

<div class="divider">
    <div></div>
    <span>Discord</span>
</div>

<p class="text-white">The fastest way to contact us is by joining our Discord server.</p>
<a class="a-blue" href="https://discord.gg/WsxqABZ">Join Discord ➔</a>

<div class="divider">
    <div></div>
    <span>Email</span>
</div>

<p class="text-white">Alternatively, contact us via email:</p>
<div class="emails">
    <p>
        • Help and Support - <a class="a-blue" href="mailto:support@utili.xyz">support@utili.xyz</a>
    </p>
    <p>
        • Data Protection - <a class="a-blue" href="mailto:dpo@utili.xyz">dpo@utili.xyz</a>
    </p>
    <p>
        • Legal Inquiries - <a class="a-blue" href="mailto:legal@utili.xyz">legal@utili.xyz</a>
    </p>
    <p>
        • Anything else - <a class="a-blue" href="mailto:info@utili.xyz">info@utili.xyz</a>
    </p>
</div>

<style>
    .emails {
        margin-left: 20px;
        margin-top: 14px;
    }

    .emails p {
        color: #b6b8bb;
        margin-bottom: 0;
    }
</style>