@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}
<style>
    body {
        background-color: #fff !important;
    }
</style>

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

<p style="margin-top: 16px; margin-bottom: 16px;">
    Please report this error <a href="https://discord.gg/WsxqABZ" target="_blank">here</a> quoting the request ID below.
</p>
@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code>@Model.RequestId</code>
    </p>
}
