@page
@model IndexModel
@{
    ViewData["Title"] = "Utili";
}

    <div class="text-center text-white">
        <h1 class="display-4">Utili</h1>
        <p>A Discord bot with some useful utility features</p>
    </div>
