@page
@model IndexModel
@{
    ViewData["Title"] = "Home";
}

    <div class="text-center">
        <h1 class="display-4">Utili</h1>
        <p>A Discord bot with some useful utility features</p>
    </div>
