@page
@model IndexModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "Utili";
}

<div class="text-center text-white">
    <h1 class="display-4">Utili</h1>
    <p>A Discord bot with some useful utility features</p>
</div>

<div class="text-white">
    <p>
        Hi, this is a placeholder front page. Welcome to Utili v2.0!<br>
        Get started by going to the Dashboard tab and selecting a server.<br>
        Please leave any feedback or bug reports on the <a href="https://discord.gg/wGTrDhCaEH" class="a-blue">Discord server</a>.
    </p>
</div>
