@page
@model UtiliSite.Pages.PremiumModel
@{
    ViewData["Title"] = "Premium - Utili";
}

<div class="text-center text-white">
    <h1 class="display-4">Utili Premium</h1>
    <p>Coming soon</p>
</div>