@page "{guild?}/autopurge"
@using Database.Data
@using Discord.Rest
@model UtiliSite.Pages.Dashboard.AutopurgeModel
@{
    Layout = "Shared/_Layout.cshtml";
}

@foreach (AutopurgeRow row in (List<AutopurgeRow>)ViewData["autopurgeRows"])
{
    string channelName = DiscordModule.GetChannelNameAsync(ViewData["Guild"] as RestGuild, row.ChannelId).GetAwaiter().GetResult();
    <form name="form-@row.Id" method="post">

        <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping">#</span>
            </div>
            <input type="text" class="form-control" style="background: unset;" value="@channelName" readonly aria-describedby="addon-wrapping">
        </div>

        <div class="input-group flex-nowrap">
            <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping">Threshold</span>
            </div>
            <input type="text" name="timespan" class="form-control" value="@row.Timespan" aria-describedby="addon-wrapping">
        </div>

        <div class="input-group flex-nowrap">

            <div class="input-group-prepend">
                <span class="input-group-text" id="addon-wrapping">Mode</span>
            </div>

            <select class="custom-select">
                <!option value="0" @AutopurgeModel.GetIsSelected(0, row)>All messages</!option>
                <!option value="1" @AutopurgeModel.GetIsSelected(1, row)>Bot messages</!option>
            </select>
        </div>

        <button type="submit" class="btn btn-success">Save</button>
    </form>
}



<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/dashboard/submit.js" asp-append-version="true"></script>
<script src="~/js/dashboard/autopurge.js" asp-append-version="true"></script>