@page "{guild?}/core"
@model UtiliSite.Pages.Dashboard.CoreModel
@{
    if (ViewData["guild"] == null) { return; }

    Layout = "Shared/_Layout.cshtml";
    ViewData["Title"] = "Utili Dashboard";

    ViewData["heading"] = "Utili Dashboard";
    ViewData["subheading"] = "Configure Utili's features using the sidebar";
    ViewData["detailed"] = "Only users with the manage server permission can view or edit settings on the Utili dashboard.";

    string nickname = (string) ViewData["nickname"];
    string prefix = (string) ViewData["prefix"];
}

<div>
    <div class="card-container-3">
        <form method="post">

            <input type="text" class="form-control card-strong card-component-3 card-heading" value="Settings" readonly>

            <div class="input-group flex-nowrap">
                <span class="input-group-prepend input-group-text card-component-1">Nickname</span>
                <input type="text" name="nickname" class="form-control card-component-2" value="@nickname">
            </div>

            <div class="input-group flex-nowrap">
                <span class="input-group-prepend input-group-text card-component-1">Prefix</span>
                <input type="text" name="prefix" class="form-control card-component-2" value="@prefix">
            </div>

            <div class="input-group flex-nowrap">
                <span class="input-group-prepend input-group-text card-component-2 card-strong"></span>
                <button type="submit" class="btn card-button card-component-1 card-strong">Save</button>
            </div>
        </form>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/dashboard/submit.js" asp-append-version="true"></script>
