@page "{guild?}/core"
@model UtiliSite.Pages.Dashboard.CoreModel
@{
    if (ViewData["guild"] == null) { return; }

    Layout = "Shared/_Layout.cshtml";
    ViewData["Title"] = "Utili Dashboard";

    string nickname = (string) ViewData["nickname"];
    string prefix = (string) ViewData["prefix"];
}

<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4 page-heading">Utili</h1>
        <p class="lead">Configure Utili's features using the sidebar</p>
    </div>
</div>

<div class="pb-2">
    <div class="card card-settings">
        <form name="form-main" method="post">

            <input type="text" class="form-control card-emphasis" style="" value="Settings" readonly>

            <div class="input-group flex-nowrap">
                <div class="input-group-prepend ">
                    <span class="input-group-text voicelink-prepend">Nickname</span>
                </div>
                <div class="input-group-text">
                    <input type="text" name="nickname" class="form-control card-component" value="@nickname">
                </div>
            </div>

            <div class="input-group flex-nowrap">
                <div class="input-group-prepend ">
                    <span class="input-group-text voicelink-prepend">Prefix</span>
                </div>
                <div class="input-group-text">
                    <input type="text" name="prefix" class="form-control card-component" value="@prefix">
                </div>
            </div>

            <div class="input-group flex-nowrap">
                <div class="input-group-prepend card-emphasis">
                    <span class="input-group-text card-emphasis"></span>
                </div>
                <div class="input-group-prepend card-emphasis">
                    <span class="input-group-text card-emphasis"></span>
                </div>

                <button type="submit" class="btn btn-save btn-width card-emphasis">Save</button>
            </div>
        </form>
    </div>
</div>

<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/js/dashboard/submit.js" asp-append-version="true"></script>
