@page "{guild?}"
@model UtiliSite.Pages.Dashboard.IndexModel
@{
    ViewData["Title"] = "Utili Dashboard";
}

@if (!HttpContext.Request.RouteValues.TryGetValue("guild", out _))
// This section of HTML is only included if no guild is specified
{
    <div>
        <div class="text-center">
            <h1 class="display-4">Server Select</h1>
            <p>Select one of your servers to configure it</p>
        </div>
    </div>
}

else
// This section of HTML is only included if a guild is specified
{
@ViewData["Title"] = $"{ViewData["guildName"]} - Utili Dashboard";
    <p>Selected server: @ViewData["guildName"]</p>
}