@page "{guild?}"
@using System.Collections
@using Discord.Rest
@model UtiliSite.Pages.Dashboard.IndexModel
@{
    
}

<div class="text-center text-white">
    <h1 class="display-4">Server Select</h1>
    <p>Select one of your servers to configure it</p>

    <div class="row">

        @foreach (RestUserGuild guild in ViewData["guilds"] as IEnumerable)
        {
            <div class="col-sm">
                <a href="@RedirectHelper.AddToUrl(ViewContext, $"{guild.Id}/core")">
                    <div class="card" style="width: 9rem;">
                        <img src="@DiscordModule.GetGuildIconUrl(guild)" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">@guild.Name</p>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>