@page "{guild?}/messagepinning"
@using Database.Data
@using Discord.Rest
@model UtiliSite.Pages.Dashboard.MessagePinningModel
@{
    if (ViewData["guild"] == null) { return; }

    Layout = "Shared/_Layout.cshtml";
    ViewData["Title"] = "Message Pinning - Utili Dashboard";

    ViewData["heading"] = "Message Pinning";
    ViewData["subheading"] = "Set a channel that you can send messages to using a command\npin [message id]\npin [channel] [message id]";
    ViewData["detailed"] = "This uses the same message copying technique as channel mirroring";

    MessagePinningRow row = (MessagePinningRow)ViewData["row"];
    List<RestTextChannel> channels = (List<RestTextChannel>)ViewData["channels"];
}


<div>
    <div class="card-container-3">
        <form name="form-enable" method="post">

            <input type="text" class="form-control card-component-3 card-heading card-strong" value="Settings" readonly>

            <div class="input-group flex-nowrap">
                <span class="input-group-prepend input-group-text card-component-2">Pin messages</span>
                <div class="input-group-text card-component-1">
                    <input type="checkbox" name="pin" class="form-control checkbox" @VoiceLinkModel.GetIsChecked(row.Pin)>
                </div>
            </div>

            <div class="input-group flex-nowrap">
                <span class="input-group-prepend input-group-text card-component-1">Send pins</span>
                <select class="custom-select card-component-2" name="pinChannel">
                    <!option value="0" @(row.PinChannelId == 0 ? "selected" : "")>None</!option>
                    @foreach (RestTextChannel channel in channels.OrderBy(x => x.Position))
                    {
                        string selected = row.PinChannelId == channel.Id ? "selected" : "";

                        <!option value="@channel.Id" @selected>@channel.Name</!option>
                    }
                </select>
            </div>

            <div class="input-group flex-nowrap">
                <span class="input-group-prepend input-group-text card-component-2 card-strong"></span>
                <button type="submit" class="btn  card-component-1 card-button card-strong">Save</button>
            </div>
        </form>
    </div>
</div>
