@page
@model UtiliSite.Pages.Premium.IndexModel
@{
    Layout = "Shared/_Layout.cshtml";
}

<button onclick="redirectToCheckout('price_1I0FHsB8DUEVWcSDtDwUZdCa')">Subscribe 1 server</button>
<button onclick="redirectToCheckout('price_1I0QTMB8DUEVWcSDGE67NIam')">Subscribe 3 servers</button>