


/* #region Main Bodies */

html {
    position: relative;
    min-height: 100%;
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

body {
    min-height: 100vh;
    background-color: #292c2f !important;
    overflow: hidden;
}

.footer {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    background-color: #373b3f;
}

.container {
    max-width: 75vw;
}

.dynamic-height {
    overflow-y: auto;
    overflow-x: hidden;
}

/* #endregion Main Bodies */

/* #region Components */

* {
    border-radius: 0 !important;
    box-shadow: none !important;
}

.page-heading.display-4 {
    color: #fff;
}

.lead {
    color: #e9ecef;
    font-size: 1.25rem;
}

.lead-sm {
    font-size: 1.05rem;
    color: #b6b8bb;
    margin-bottom: 6px;
}

.bg-dark {
    background-color: #292c2f !important;
}

.btn {
    border: 0;
}

.a-blue {
    color: #03bfd6;
    cursor: pointer;
}

.spaced4 {
    margin-left: 4px;
    margin-right: 4px;
}

.a-blue:hover {
    color: #038ed6;
    text-decoration: none;
}

.noverticalpadding {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.noverticalmargin {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.cursor-pointer {
    cursor: pointer !important;
    user-select: none;
}

/* #endregion Components */

/* #region Divider Lines */

.divider {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    overflow: hidden;
    height: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}

.divider div {
    width: 100%;
    height: 1px;
    border: none;
    background-color: dimgray;
}

.divider span {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    padding: 0 8px;
    white-space: nowrap;
    background-color: #292c2f;
    color: dimgray;
    font-size: 12px;
    user-select: none;
}

/* #endregion Divider Lines */