


#navbar {
    transition: background-color 500ms;
}

.navbar-brand {
    text-align: center;
    align-items: center;
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
    height: 32px;
    white-space: nowrap !important;
}

.nav-item {
    white-space: nowrap !important;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

img.user-icon {
    height: 32px;
    width: 32px;
    border-radius: 50% !important;
    margin-top: 4px;
    margin-bottom: 4px;
}

#signoutDropdown {
    padding-top: .5rem;
    padding-bottom: 0.5rem;
    background-color: #e9ecef;
    border: 0;
}

.notification {
    padding: 0.5rem 1rem;
    display: block;
    display: flex;
    list-style: none;
}