.premium-benefits {
    margin-left: 20px;
    margin-top: 14px;
}

.premium-benefits p {
    color: #b6b8bb;
    margin-bottom: 0;
}

.select-currency {
    border: 0;
    background-color: inherit !important;
    color: black;
    width: 75px;
    cursor: pointer;
}

.select-currency option {
    color: black;
}

.custom-select:disabled {
    color: #6c757d;
}

.select-currency :after {
    color: #43B581;
}

.plan-container {
    margin-top: 20px;
}

.plan {
    background-color: #202225;
    border-radius: 5px !important;
    min-width: 300px;
    min-height: 400px;
    width: 300px;
    height: 400px;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 22px;
    margin-right: 22px;
    border: 5px solid dimgray;
    position: relative;
    display: inline-block;
    vertical-align: top;
}

.plan-highlighted {
    margin-top: 0;
    margin-bottom: 0;
    border-color: #43B581;
}

.plan-highlighted-text {
    position: absolute;
    top: 0;
    border-bottom-left-radius: 5px !important;
    border-bottom-right-radius: 5px !important;
    background-color: #43B581;
    color: white;
    font-size: 12px;
    margin-left: 70px;
    margin-right: 70px;
    width: 75px;
    line-height: 16px;
    padding-bottom: 4px;
    margin-top: -1px;
}

.plan-content {
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 35px;
    padding-right: 35px;
    text-align: center;
    height: 100%;
}

.plan-highlighted .plan-content {
    padding-top: 40px;
}

.plan-title {
    font-size: 30px;
    color: white;
}

.plan-description {
    font-size: 15px;
    color: lightgray;
}

.plan-price {
    color: #43B581;
    font-size: 50px;
    margin-top: 35px;
    margin-bottom: -10px;
}

.plan-highlighted .plan-price {
    margin-top: 25px;
}

.plan-price-small {
    color: lightgray;
    font-size: 20px;
}

.plan-price-per {
    margin-top: 48px;
    margin-bottom: 0;
    font-size: 16px;
    text-align: center;
    color: gray;
}

.plan-highlighted .plan-price-per {
    margin-top: 38px;
}

.plan-order-button {
    position: absolute;
    bottom: 0;
    width: calc(100% - 70px);
    height: 40px;
    line-height: 36px;
    margin-bottom: 20px;
    background-color: black;
    border-radius: 5px !important;
    border: 2px solid black;
    color: white;
    text-align: center;
    user-select: none;
    cursor: pointer;
}

    .plan-order-button:hover {
        border: 2px solid #43B581;
    }
