


*::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
}

*:hover::-webkit-scrollbar {
    width: 5px;
    height: 5px !important;
}

.scroll-always::-webkit-scrollbar {
    width: 0.75vw !important;
    height: 15px !important;
}

.dropdown-200-content::-webkit-scrollbar {
    width: 5px !important;
    background-color: white;
}

.scroll-dark::-webkit-scrollbar-thumb {
    background-color: #484848;
}

.scroll-dark::-webkit-scrollbar-corner {
    background-color: inherit;
}

.scroll-dark:not(.scroll-always) {
    padding-right: 5px;
}

.scroll-dark:not(.scroll-always):hover {
    padding-right: 0;
}

*::-webkit-scrollbar-thumb {
    background-color: lightgray;
}

.scroll-x {
    overflow-x: auto !important;
}