/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
    align-items: center;
    display: flex;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    min-height: 100vh;
    background-color: #292c2f !important;
    overflow: hidden;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
/* Sidebar
-------------------------------------------------- */
.wrapper {
    display: flex;
    width: inherit;
    margin-top: 0px;
}

.dynamic-height {
    overflow-y: auto;
    overflow-x: hidden;
}

.scroll-x {
    overflow-x: auto !important;
}

img.user-icon {
    height: 32px;
    width: 32px;
    border-radius: 50% !important;
    margin-top: 4px;
    margin-bottom: 4px;
}

.cursor-pointer {
    cursor: pointer !important;
    user-select: none;
}

/* Dashboard cards
-------------------------------------------------- */

.card-strong {
    background-color: #e9ecef !important;
}

/*#region Containers*/

.card-container-1 {
    width: 200px;
}

.card-container-2 {
    width: 200px;
}


.card-container-3 {
    width: 300px;
}

.card-container-4 {
    width: 400px;
}

.card-container-5 {
    width: 500px;
}

.card-container-6 {
    width: 600px;
}

.card-container-7 {
    width: 700px;
}

/*#endregion Containers*/

/*#region Components*/

.card-component-1 {
    background-color: #fff;
    border: 0;
    width: 100px !important;
    max-width: 100px !important;
    height: 38px !important;
}

.card-component-1.card-heading {
    width: 99px !important;
    max-width: 99px !important;
}

.card-component-2 {
    background-color: #fff;
    border: 0;
    width: 200px !important;
    max-width: 200px !important;
    height: 38px !important;
}

.card-component-2.card-heading {
    width: 199px !important;
    max-width: 199px !important;
}

.card-component-3 {
    background-color: #fff;
    border: 0;
    width: 300px !important;
    max-width: 300px !important;
    height: 38px !important;
}

.card-component-3.card-heading {
    width: 299px !important;
    max-width: 299px !important;
}

.card-component-4 {
    background-color: #fff;
    border: 0;
    width: 400px !important;
    max-width: 400px !important;
    height: 38px !important;
}

.card-component-4.card-heading {
    width: 399px !important;
    max-width: 399px !important;
}

.card-component-5 {
    background-color: #fff;
    border: 0;
    width: 500px !important;
    max-width: 500px !important;
    height: 38px !important;
}

.card-component-5.card-heading {
    width: 499px !important;
    max-width: 499px !important;
}

.card-component-6 {
    background-color: #fff;
    border: 0;
    width: 600px !important;
    max-width: 600px !important;
    height: 38px !important;
}

.card-component-6.card-heading {
    width: 599px !important;
    max-width: 599px !important;
}

.card-component-7 {
    background-color: #fff;
    border: 0;
    width: 700px !important;
    max-width: 700px !important;
    height: 38px !important;
}

.card-component-7.card-heading {
    width: 699px !important;
    max-width: 699px !important;
}

/*#endregion Components*/

.card-button {
    color: #495057;
    margin-right: 1px;
}

.card-button:hover {
    background-color: #d0d0d0 !important;
}

.card-button-x {
    color: #495057;
    margin-right: 1px;
    width: 38px;
    height: 38px;
    padding: 0;
}

.card-button-x:hover {
    background-color: #d0d0d0 !important;
}


/* Making things look neat.
-------------------------------------------------- */
* {
    border-radius: 0 !important;
    box-shadow: none !important;
}
.jumbotron {
    background-color: inherit;
    padding-left: 8px;
}
.page-heading.display-4 {
    color: #fff;
}
.lead {
    color: #e9ecef;
    font-size: 1.25rem;
}
.lead-sm {
    font-size: 1.05rem;
    color: #b6b8bb;
    margin-bottom: 6px;
}
.bg-dark {
    background-color: #292c2f !important;
}
.input-group-text{
    height:38px;
}
.input-group-text {
    width: 100px;
    text-align: center;
    background-color:#fff;
    border-style:initial;
}

.list-group-item {
    border-bottom-style: initial;
    border-top-style: initial;
    padding: 0.75rem 1.25rem;
    background-color: inherit !important;
}
.list-group-item.active {
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: #4287f5;
    border-bottom-style: initial;
    border-top-style: initial;
    color: white !important;
}
.list-input{
    border-style:hidden;
}

.list-group-item:hover {
    color: lightgray;
}

.voicelink-prepend {
    width:170px;
}

.card-button-x {
    background: none;
    border: 0;
    color: #495057;
    width: 38px;
    height: 38px;
    padding: 0;
    margin-right: 1px;
}

.card-button-x:hover {
    background-color: #d0d0d0 !important;
    color: #495057;
    
}

.btn {
    border: 0;
}

.checkbox{
    width:1em !important;
}

#navbar{
    transition: background-color 500ms;
}

.notification {
    padding: 0.5rem 1rem;
    display: block;
    display: flex;
    list-style: none;
}

.dropdown {
    padding-bottom: 30px;
}

.dropdown-200-content {
    width: 200px;
    height: auto;
    max-height: 200px;
    overflow-x: hidden;
    margin: 0;
    border: 1px solid black;
}

.dropdown-200 {
    width: 200px;
    padding-left: 0.75rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

*::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 0;
}

*:hover::-webkit-scrollbar {
    width: 5px;
    height: 5px !important;
}

.scroll-always::-webkit-scrollbar {
    width: 15px !important;
    height: 15px !important;
}

.dropdown-200-content::-webkit-scrollbar {
    width: 5px !important;
    background-color: white;
}

.scroll-dark::-webkit-scrollbar-thumb {
    background-color: #202225;
}

.scroll-dark::-webkit-scrollbar-corner {
    background-color: inherit;
}

.scroll-dark:not(.scroll-always) {
    padding-right: 5px;
}
.scroll-dark:not(.scroll-always):hover {
    padding-right: 0;
}

*::-webkit-scrollbar-thumb {
    background-color: lightgray;
}

.noverticalpadding {
    padding-top: 0;
    padding-bottom: 0;
}

.belowcards {
    padding-top: 30px;
}

.info-hover {
    display: inline-block;
    padding-left: 10px;
    user-select: none;
}

.tooltip-inner {
    max-width: 400px;
    width: 400px !important;
    border-radius: 5px !important;
}

.tooltip-inner p {
    margin: 6px;
    text-align: left;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    height: 32px;
}

.container {
    max-width: 75vw;
}

#sidebar {
    width: 225px;
    min-width: 225px;
    max-width: 225px;
}

.right-angle-top-left {
    position: absolute;
    margin: 30px;
    width: 0;
    border-right: 50px solid transparent;
    border-top: 50px solid #c2c5c5;
    margin: 0;
    background: none;
    border-bottom: 0;
    border-left: 0;
    padding: 0;
    outline: 0 !important;
    opacity: 0.5;
}

.server-list-text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    user-select: none;
    overflow: hidden;
    white-space: nowrap
}

img.guild-icon {
    height: 150px;
    width: 150px;
    border-radius: 50% !important;
    margin-top: 23px;
    margin-bottom: 0;
    margin-right: 37.5px;
    margin-left: 37.5px;
}

#serverCard {
    width: 225px;
    height: 225px;
    background-color: #292c2f;
    border: 0;
}

.nav-item {
    white-space: nowrap !important;
}

.navbar-brand {
    white-space: nowrap !important;
}

.table {
    color: #adb5bd;
    border-bottom-style: hidden;
}

tr {
    border-bottom-style: hidden;
}

tr a {
    color: #03bfd6;
}

.accordion-header {
    user-select: none;
    cursor: pointer;
    font-weight: 300;
}
.accordion {
    margin-bottom: 25px;
    margin-top: 10px;
}

#signoutDropdown {
    padding-top: .5rem;
    padding-bottom: 0.5rem;
    background-color: #e9ecef;
    border: 0;
}

.caret.caret-up {
    border-top-width: 0;
    border-bottom: 4px solid #fff;
}