/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
    white-space: normal;
    text-align: center;
    word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.border-top {
    border-top: 1px solid #e5e5e5;
}

.border-bottom {
    border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
    font-size: 1rem;
    line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    white-space: nowrap;
    line-height: 60px; /* Vertically center the text there */
}
/* Sidebar
-------------------------------------------------- */
.wrapper {
    display: flex;
    width: inherit;
    margin-top: 0px;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    z-index: 999;
    background: #808080;
    transition: all 0.3s;
}

#sidebar-wrapper {
    height: inherit;
    min-height: 100vh;
}
img.guild-icon {
    height: 20vh;
    width: 20vh;
    border-radius: 50% !important;
    margin: auto;
    margin-top: 3vh;
    margin-bottom: 0vh;
}

/* Making things look neat.
-------------------------------------------------- */
* {
    border-radius: 0 !important;
}
.jumbotron {
    background-color: inherit;
}
.page-heading.display-4 {
    color: #fff;
}
.lead {
    color: #e9ecef;
}
.bg-dark {
    background-color: #292c2f !important;
}
.input-group-text{
    height:38px;
}
.input-group-text {
    width: 100px;
    text-align: center;
    background-color:#fff;
    border-style:initial;
}
.card-emphasis{
    background-color: #e9ecef !important;
    border-style: initial;
}
.card-component {
    background-color: #fff;
    border-style: initial;
}
.list-group-item {
    border-bottom-style: initial;
    border-top-style: initial;
    
}
.list-group-item.active {
    border-left-width: 2px;
    border-left-style: solid;
    border-left-color: #4287f5;
    border-bottom-style: initial;
    border-top-style: initial;
}
.list-input{
    border-style:hidden;
}
.voicelink-prepend {
    width:170px;
}
.btn-width{
    width: 100px;
}
.btn-save {
    border-color: #4287f5;
    border-style: initial;
    background-color: transparent;
    color: #495057;
}
.btn-save:hover {
    background-color:#d0d0d0 !important;
    border-style: initial;
}
.btn-remove {
    background: none;
    border-style: initial;
    color: #495057;
    width:38px;
    height:38px;
    padding:0;
}
.btn-remove:hover {
    background-color: #d0d0d0 !important;
    color: #495057;
    
}
.card-btn{
    width:90px;
    height:28px;
    margin:auto;
}
.checkbox{
    width:1em;
}

#navbar{
    transition: background-color 1s;
}

.notification {
    padding: 0.5rem 1rem;
    display: block;
    display: flex;
    list-style: none;
}

.dropdown {
    padding-bottom: 20px;
}

.card-settings {
    width: 18rem;
}