.dashboard-container{
	display: flex;
	height: auto;
	min-height: calc(100vh - 65px);
	flex-direction: row;
}

.sidebar{
	background-color: var(--colour-nav);
	box-shadow: 5px -5px 10px var(--colour-shadow);
	min-width: 250px;
	float: left;
}

.dashboard{
	/*width: calc(100vw - 250px);*/
	width: calc(100% + 60px);
	padding: 60px 0px 60px 60px;
	overflow-x: auto;
}
